<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Alfigram</title>
  </head>
  <body>
    <div>
    <% @photos.each do |photo| %>
      <%= image_tag photo.image.url(:medium) %>
    <% end %>
  </div>
    <div>
      <a href="/photos/new">Add a photo</a>
    </div>
  </body>
</html>
