<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Alfigram</title>
  </head>
  <body>
    <div>
    <%= image_tag @photos.image.url(:medium) %>
    </div>
    <a href="/photos/new">Add a photo</a>
  </body>
</html>
