<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Alfigram</title>
  </head>
  <body>
    <div>
    <% @photos.each do |photo| %>
      <%= image_tag photo.image.url(:medium) %>
      <a href="/photos/<%= photo.id %>"><%= photo.caption %></a>
      <h4><%= photo.likes.count %> Like</h4>
    <% end %>
    </div>
    <div>
      <a href="/photos/new">Add a photo</a>
    </div>
  </body>
</html>
